/* media queries */

@media (prefers-color-scheme: light) {
  .subjects li a,
  .day ul .opacity-1 .day-target {
    color: var(--subject-color-light);
  }

  .subjects li a::after {
    background-color: var(--subject-color-light);
  }

  .day ul li {
    color: var(--day-color-light);
  }

  .college-text,
  .sem {
    color: var(--college-color-light);
  }

  .faculty {
    color: var(--faculty-color-light);
  }

  .right {
    box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222121;
  }

  .subjects li a,
  .day ul .opacity-1 {
    color: var(--subject-color-dark);
  }

  .subjects li a::after {
    background-color: var(--subject-color-dark);
  }

  .day ul li {
    color: var(--day-color-dark);
  }

  .college-text,
  .sem {
    color: var(--college-color-dark);
  }

  .faculty {
    color: var(--faculty-color-dark);
  }

  /* Uncomment to check any theme */

  /* 1 */
  /* .right {
        box-shadow: 21px -3px 300px 200px var(--box-shadow-dark),
          inset -35px -3px 128px -50px var(--box-shadow-dark);
      } */

  /* 2 */
  /* .right {
        box-shadow: -101px -48px 234px 92px var(--box-shadow-dark),
          inset -35px -3px 128px -50px var(--box-shadow-dark);
      } */

  /* 3 */
  .right {
    box-shadow: -2px 6px 20px -5px var(--box-shadow-dark);
  }

  /* 4 */
  /* .right {
        box-shadow: -2px 6px 20px -5px var(--box-shadow-dark),
          inset -35px -3px 128px -50px var(--box-shadow-dark);
      } */
}

@media (max-width: 800px) {
  .left {
    display: none;
  }
}

@media (max-width: 375px) {
  .right {
    box-shadow: none;
  }
}
