:root {
  /* light-scheme */
  --subject-color-light: #085886;
  --day-color-light: #11a8ce93;
  --faculty-color-light: #161616;
  --college-color-light: #0b345a;
  --box-shadow-light: #128aa893;

  /* dark-scheme */
  --subject-color-dark: #80c1ff;
  --day-color-dark: #85e7ff93;
  --faculty-color-dark: #e4e4e4;
  --college-color-dark: #90c0ee;
  --box-shadow-dark: #5ec4ffcb;
}
