/* style */

.landing {
  height: 90vh;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.85rem;
}

.left {
  position: relative;
}

.college-text {
  position: absolute;
  top: 40%;
  left: -1.9rem;
  transform: rotate(270deg);
  color: var(--college-color-light);
}

.left .info {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.faculty {
  font-size: 4rem;
  line-height: 4rem;
}

.sem {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: var(--college-color-light);
  line-height: 0.85rem;
}

.right {
  border-radius: 0.5rem;
  padding: 4rem 4rem 8rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
}

.day ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.day ul li {
  margin: 0.2rem;
}

.day ul li span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.subjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.last-subjects {
  align-items: flex-end;
}

.today-sub ul li {
  margin: 0;
}

.subjects li {
  margin: 0rem 0.2rem;
  overflow: hidden;
}

.subjects li a {
  font-size: 2rem;
  color: var(--subject-color-light);
  position: relative;
  transition-property: all;
  transition-duration: 650ms;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subjects li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.14rem;
  width: 100%;
  background-color: var(--subject-color-light);
  transform: translateX(-150%);
  transition: transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
}

.last-subjects li a::after,
.s2 li a::after {
  transform: translateX(150%);
}

.subjects li a:hover::after {
  transform: translateX(0);
}

.day ul .opacity-1 {
  color: var(--subject-color-light);
}

.last-two {
  margin-top: 4rem;
}

.last-two .day ul {
  align-items: flex-end;
}

.last-three-days li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
