:root {
  /* light-scheme */
  --subject-color-light: #085886;
  --day-color-light: #11a8ce93;
  --faculty-color-light: #161616;
  --college-color-light: #0b345a;
  --box-shadow-light: #128aa893;
  /* dark-scheme */
  --subject-color-dark: #80c1ff;
  --day-color-dark: #85e7ff93;
  --faculty-color-dark: #e4e4e4;
  --college-color-dark: #90c0ee;
  --box-shadow-dark: #5ec4ffcb;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utility */
.opacity-0 {
  opacity: 0.2;
}

.opacity-1 {
  opacity: 1;
}

/* main */
.landing {
  height: 90vh;
  margin: 1rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.85rem;
}

.left {
  position: relative;
}

.college-text {
  position: absolute;
  top: 40%;
  left: -1.9rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: var(--college-color-light);
}

.left .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.faculty {
  font-size: 4rem;
  line-height: 4rem;
}

.sem {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: var(--college-color-light);
  line-height: 0.85rem;
}

.right {
  border-radius: 0.5rem;
  padding: 4rem 4rem 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
          box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
}

.day ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day ul li {
  margin: 0.2rem;
}

.day ul li span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.last-subjects {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.today-sub ul li {
  margin: 0;
}

.subjects li {
  margin: 0rem 0.2rem;
  overflow: hidden;
}

.subjects li a {
  font-size: 2rem;
  color: var(--subject-color-light);
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subjects li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.14rem;
  width: 100%;
  background-color: var(--subject-color-light);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
  transition: transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91), -webkit-transform 0.5s cubic-bezier(0.65, 0.01, 0.34, 0.91);
}

.last-subjects li a::after,
.s2 li a::after {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.subjects li a:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.day ul .opacity-1 {
  color: var(--subject-color-light);
}

.last-two {
  margin-top: 4rem;
}

.last-two .day ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.last-three-days li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* media queries */
@media (prefers-color-scheme: light) {
  .subjects li a,
  .day ul .opacity-1 .day-target {
    color: var(--subject-color-light);
  }
  .subjects li a::after {
    background-color: var(--subject-color-light);
  }
  .day ul li {
    color: var(--day-color-light);
  }
  .college-text,
  .sem {
    color: var(--college-color-light);
  }
  .faculty {
    color: var(--faculty-color-light);
  }
  .right {
    -webkit-box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
            box-shadow: -2px 6px 15px -5px var(--box-shadow-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222121;
  }
  .subjects li a,
  .day ul .opacity-1 {
    color: var(--subject-color-dark);
  }
  .subjects li a::after {
    background-color: var(--subject-color-dark);
  }
  .day ul li {
    color: var(--day-color-dark);
  }
  .college-text,
  .sem {
    color: var(--college-color-dark);
  }
  .faculty {
    color: var(--faculty-color-dark);
  }
  /* Uncomment to check any theme */
  /* 1 */
  /* .right {
      box-shadow: 21px -3px 300px 200px var(--box-shadow-dark),
        inset -35px -3px 128px -50px var(--box-shadow-dark);
    } */
  /* 2 */
  /* .right {
      box-shadow: -101px -48px 234px 92px var(--box-shadow-dark),
        inset -35px -3px 128px -50px var(--box-shadow-dark);
    } */
  /* 3 */
  .right {
    -webkit-box-shadow: -2px 6px 20px -5px var(--box-shadow-dark);
            box-shadow: -2px 6px 20px -5px var(--box-shadow-dark);
  }
  /* 4 */
  /* .right {
      box-shadow: -2px 6px 20px -5px var(--box-shadow-dark),
        inset -35px -3px 128px -50px var(--box-shadow-dark);
    } */
}

@media (max-width: 800px) {
  .left {
    display: none;
  }
}

@media (max-width: 375px) {
  .right {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=main.css.map */